<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h1>Welcome to the server!</h1><br>
<p><strong>{{.}}</strong></p>
<a href="/">index</a><br>
<a href="/files">files</a><br>
<a href="/upload">upload</a><br>
<a href="/status-codes/">http status codes</a><br>

</body>
</html>

