<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>status codes</title>
</head>
<body>

<h1>Try out the different http responses!</h1><br>
<ul>
    <li><a href="/status-codes/200">200</a><br></li>
    <li><a href="/status-codes/203">203</a><br></li>
    <li><a href="/status-codes/400">400</a><br></li>
    <li><a href="/status-codes/404">404</a><br></li>
    <li><a href="/status-codes/500">500</a><br></li>
</ul>

</body>
</html>

